.company_info{
    width: 11.81rem;
    margin: .58rem auto;
    .company_nav{
        border: 1px solid #c8c8c8;
        border-radius: .08rem .08rem 0 0;
        border-bottom: none;
        overflow: hidden;
        padding-bottom: .4rem;
        .nav{
            height: .56rem;
            padding: 0 .48rem;
            background: #edefff;
            display: flex;
            a{
                height: 100%;
                padding: 0 .2rem;
                margin: 0 .2rem;
                font-size: .2rem;
                color: #969696;
                line-height: .56rem;
                span{
                    font-size: .16rem;
                    color: #ffac60;
                    margin-left: .03rem;
                }
                &.active{
                    color: #464646;
                    border-bottom: .03rem solid #515ffd;
                }
            }
        }
    }
}