.company_info{
    width: 11.81rem;
    margin: .58rem auto;
    .submit{
        margin: .4rem auto 0;
        text-align: center;
        .ant-btn{
            width: 1.6rem;
        }
    }
    .company_info_form{
        border: 1px solid #c8c8c8;
        border-radius: .08rem;
        overflow: hidden;
        .title{
            height: .57rem;
            background: #edefff;
            padding: 0 .24rem;
            font-size: .2rem;
            color: #464646;
            line-height: .57rem;
        }
        .form_flex{
            margin: .15rem auto;
            .ant-form-item-label{
                margin-left: .1rem;
            }
            p{
                margin: 0;
                font-size: .16rem;
                color: #c8c8c8;
                text-align: right;
                line-height: 1;
            }
            .item_flex{
                .ant-upload-select-picture-card{
                    width: auto;
                    height: auto;
                    background: transparent;
                    border: none;
                }
            }
            .item_logo{
                .ant-upload-list-item{
                    width: 1.67rem;
                    height: 1.52rem;
                    margin: .08rem .2rem 0 0;
                    border: 1px solid #c8c8c8;
                }
                .ant-upload-list-item-done{
                    width: 1.67rem;
                    height: 1.52rem;
                    margin: .08rem .2rem 0 0;
                    border: 1px solid #c8c8c8;
                    padding: 0;
                }
                .ant-upload-select-picture-card{
                    width: auto;
                    height: auto;
                    background: transparent;
                    border: none;
                }
                .ant-upload-btn{
                    padding: .08rem 0
                }
            }
            .item_company{
                .ant-upload-list-picture-card{
                    float: none;
                    margin-bottom: .1rem;
                }
                .ant-upload-list-item{
                    width: 1.59rem;
                    height: 1.45rem;
                    margin: 0.08rem .16rem 0 0;
                    border: 1px solid #c8c8c8;
                }
                .ant-upload-list-item-done{
                    width: 1.59rem;
                    height: 1.45rem;
                    margin: 0.08rem .16rem 0 0;
                    border: 1px solid #c8c8c8;
                    padding: 0;
                }
                .ant-upload-btn{
                    text-align: left;
                    padding: 0;
                }
                >span{
                    display: flex;
                    flex-flow: column;
                }
            }
        }
        .form_centen{
            display: flex;
            flex-wrap: wrap;
            margin: .15rem auto;
            .form_item_6{
                width: 60%;
            }
            .form_item_4{
                width: 40%;
            }
            label{
                font-size: .16rem;
                color: #646464;
            }
            .ant-input{
                font-size: .16rem;
                color: #464646;
            }
            .flex{
                display: flex;
                .mar{
                    margin: 0 .1rem;
                }
            }
        }
    }
}