.ant-tabs{
    width: 9rem;
    margin: .58rem auto;
    .ant-tabs-left-bar{
        border-right: none;
        width: 1.7rem;
        margin-right: 0;
        .ant-tabs-tab{
            text-align: center;
            background: #f8f8f8;
            color: #646464;
            margin: .02rem 0;
            &.ant-tabs-tab-active{
                background: #515ffd;
                color: #fff;
            }
        }
    }
    .ant-tabs-ink-bar{
        background: transparent;
    }
    .ant-tabs-left-content{
        border-left: none;
        padding-left: .94rem;
    }
}