.job_release{
    .ant-form{
        width: 11.8rem;
        margin: 0 auto .6rem;
        .centent{
            width: 100%;
            border: 1px solid #d4d5d9;
            border-top: none;
            border-radius: 0 0 .08rem .08rem;
            overflow: hidden;
            .ant-tabs{
                margin-bottom: .16rem;
            }
            .ant-tabs-bar{
                border-bottom: none;
                padding: 0 .35rem;
                background: #edefff;
            }
            .ant-tabs-tab{
                font-size: .2rem;
            }
            .list{
                display: flex;
                justify-content: space-between;
                padding: 0 .2rem;
                &.list_active{
                    .ant-form-item{
                        align-items: center;
                    }
                }
                &.labelMat{
                    .ant-form-item-label{
                        margin-left: .1rem;
                    }
                }
                &.mar_bot{
                    margin-bottom: .36rem;
                    .mar_wid{
                        width: 100%;
                        .item{
                            width: 1.42rem;
                            margin: 0 .1rem;
                            text-align: center;
                            div{
                                width: 100%;
                                height: .45rem;
                                border: .02rem solid #e0e0e0;
                                border-radius: .04rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                span{
                                    margin-right: .1rem;
                                }
                                .ant-checkbox-inner{
                                    border-radius: 100%;
                                }
                            }
                            p{
                                font-size: .16rem;
                                color: #c8c8c8;
                                margin-top: .1rem;
                            }
                        }
                    }
                }
                .ant-form-item{
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                }
                label{
                    font-size: .16rem;
                }
                .bg_laber{
                    height: .09rem;
                    background: #edefff;
                }
                .ant-form-item-control-wrapper{
                    width: 10.52rem;
                    p{
                        margin-bottom: 0;
                        text-align: right;
                        line-height: 1.6;
                        font-size: .16rem;
                        color: #c8c8c8;
                    }
                }
                .left{
                    width: 56%;
                    display: flex;
                    .ant-form-item-control-wrapper{
                        width: 5rem;
                    }
                }
                .right{
                    width: 40%;
                    display: flex;
                    .ant-form-item-control-wrapper{
                        width: 3.7rem;
                    }
                }
                .w159{
                    width: 1.59rem;
                }
                .w114{
                    width: 1.14rem;
                }
                .w184{
                    width: 1.84rem;
                }
                .w90{
                    width: .9rem;
                    margin: 0 .04rem;
                }
                .justify{
                    justify-content: space-between;
                }
                .ant-input{
                    font-size: .16rem;
                }
            }
        }
        .job_release_btn{
            padding: 0 .3rem;
            .ant-form-item-children{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        .ant-btn{
            width: 2.16rem;
            margin-top: .3rem;
            &.list_btn{
                margin-top: 0;
            }
        }
    }
}