.mailbox{
    .centent{
        width: 11.78rem;
        border: 1px solid #cbcbcb;
        border-radius: .08rem;
        margin: .6rem auto;
        overflow: hidden;
        .ant-tabs-bar{
            padding: 0 .6rem;
            background: #edefff;
            border-bottom: none;
            .ant-tabs-tab{
                font-size: .2rem;
                color: #969696;
            }
            .ant-tabs-tab-active{
                color: #464646;
            }
        }
    }
}